.wrap{
    margin: 30px auto;
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    width: 90vw;
}

.box{
    color: #FFF;
    background: #ddd;
    width: 20%;
    line-height: 130px;
    text-align: center;
    margin: 20px 20px;
    cursor: pointer;
}

.red{
   background: rgba(139, 0, 0, 0.5)
}

.scaleX{
    transform: scaleX(1);
    transition: transform 1s ease;
}

.scaleY{
    transform: scaleY(1);
    transition: transform 1s linear;
}

.box:hover .scaleX{
    transform: scaleX(2);
}

.box:hover .scaleY{
    transform: scaleY(2);
}

.box:hover .scale{
    transform: scale(2,2);
}

.skewX{
    transform: skew(10deg);
    transition: transform 0.5s linear;
}

.box:hover .skewX{
    transform: skewX(-20deg)
}

.skewY{
    transform: skew(10deg);
    transition: transform 0.5s linear;
}

.box:hover .skewY{
    transform: skewX(-90deg)
}
    
.skew{
    transform: skew(10deg);
    transition: transform 0.5s linear;
}

.box:hover .skew{
    transform: skewX(-180deg)
}

.translateX{
    transform: translateX(1em);
    transition: transform 0.5s ease-in;
}

.box:hover .translateX{
    transform: translateX(2em)
}

.translateY{
    transform: translateY(1em);
    transition: transform 0.5s ease-in-out;
}

.box:hover .translateY{
    transform: translateY(2em)
}

.translation{
    transform: translate(1em);
    transition: transform 0.5s ease;
}

.box:hover .translate{
    transform: translate(2em)
}

.rotate{
    transform:rotate(1em);
    transition: transform 0.5s ease;
}

.box:hover .rotate{
    transform: translate(2em)
}

.matrix{
    transform: matrix(2em);
    transition: transform 0.5s ease-in;
}

.box:hover .matrix{
    transform: translate(2em)
}
